AndroidLibrary/TodayStepCounter/.idea/gradle.xml
AndroidLibrary/TodayStepCounter/.idea/misc.xml
AndroidLibrary/TodayStepCounter/.idea/modules.xml
AndroidLibrary/TodayStepCounter/.idea/runConfigurations.xml
AndroidLibrary/TodayStepCounter/.idea/caches/build_file_checksums.ser
AndroidLibrary/TodayStepCounter/.idea/codeStyles/Project.xml
